@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Noto+Serif+KR&family=Sankofa+Display&display=swap');

$border-grey : #e4e3e3;


html {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div,
input,
select,
button,
ul {
    box-sizing: border-box;
}

%mt-20-wd-1200 {
    margin: 20px auto;
    max-width: 1200px;
}

.header-container {
    @extend %mt-20-wd-1200;
    display: flex;
    font-size: 40px;

    div:nth-child(1) {
        flex-grow: 1;
    }

    div:nth-child(2) {
        flex-grow: 1;
    }
}

.header-bg {
    width: 100%;
    background: $border-grey;
}

.category-container {
    max-width: 1200px;
    margin: auto;

    ul {
        margin: 0;
        list-style: none;
        display: flex;
        padding: 0;
        gap: 70px;
        
        li {
            height: 30px;
            // border-bottom: 2px solid black;
            cursor: pointer;
        }
    }
}

.subCat-container {
    @extend %mt-20-wd-1200;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    div {
        border: 1px solid $border-grey;
        background: transparent;
        border-radius: 50px;
        padding: 7px;
        cursor: pointer;

        p {
            margin: 0px;
            padding: 0 15px;
        }
    }

    .subCat-selected {
        background: rgb(244, 255, 240);
        border: 1px solid rgb(71, 139, 71);

    }
}

.subCat-line {
    @extend %mt-20-wd-1200;
    border-bottom: 1px solid $border-grey;

    hr {
        border: 1px solid $border-grey;
    }
}

.category-search-container {
    @extend %mt-20-wd-1200;
    margin: 40px auto;
    display: flex;

    select {
        padding: 15px;
        font-size: 15px;
        width: 200px;
        text-align: center;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid $border-grey;
    }

    div {
        position: relative;

        input {
            padding: 15px;
            font-size: 20px;
            margin-left: auto;
            width: 400px;
            outline: none;
            border-radius: 5px;
            border: 1px solid $border-grey;

            &:focus {
                // box-shadow: 0px 0px 5px #444
                border: 2px solid black;
            }

        }

        .search-icon {
            position: absolute;
            top: 15px;
            ;
            right: 15px;
            cursor: pointer;
        }
    }

}

.card-container {
    @extend %mt-20-wd-1200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 500px 500px;
    // grid-template-rows: repeat(2,500px) ;
    gap: 50px;

    .card-layout {
        border: 1px solid #d1d1d1;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #c9c8c8;
        cursor: pointer;

        .card-area {
            width: 100%;
            height: 50%;

            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            @mixin card-item($fs, $pt) {
                margin: 0px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: $pt;
                font-size: $fs;
            }

            .card-tag {
                @include card-item(25px, 20px);
            }

            .card-title {
                @include card-item(25px, 10px);
                height: 100px
            }

            .card-addr {
                @include card-item(15px, 40px);
            }
        }
    }

}

.none {
    display: none;
}

.card-btn {
    @extend %mt-20-wd-1200;
    text-align: center;

    button {
        padding: 20px;
        width: 160px;
        border-radius: 10px;
        border: 1px solid $border-grey;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        color: #8a8a8a;
        font-family: "Noto Serif KR", serif;

        &:active {
            background-color: #c9c8c8
        }
    }
}

.no-item {
    @extend %mt-20-wd-1200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;

    p {
        font-size: 50px;
    }
}

.local-container {
    @extend %mt-20-wd-1200;

    p {
        font-size: 40px;
    }

    .local-griad-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-gap: 30px;

        div {
            border: 1px solid black;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
        }
    }

}


.footer-container {
    margin-top: 100px;
    width: 100%;
    background-color: #eee;
    height: 200px;

    .footer-top {
        padding-top: 50px;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        div {
            &:nth-child(1) {
                font-size: 30px;
            }

            ul {
                display: flex;
                margin: 0;
                gap: 10px;
                list-style: none;
                gap: 40px;
            }
        }

    }
    .footer-bottom {
        max-width: 1200px;
        margin: auto;
        margin-top: 10px;
    }
}

.detail-container {
    @extend %mt-20-wd-1200;
    .detail-content {
        margin: 40px 0;
        text-align: center;
        p {
            font-size: 50px;
        }
        hr {
            border: 1px solid black;
        }
    }
    .detail-title {
        .detail-title-top {
            .tag {
                display: flex;
                width: 100px;
                height: 50px;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                background-color: rgb(149, 189, 138);
                p {
                    color: rgb(255, 255, 255);
                }
            }
            .title {
                p {
                    margin: 0;
                    font-size: 40px;
                }
                hr {
                    margin: 40px 0;
                }
            }
        }
    }
    .detail-img {
        width: 100%;
        height: 700px;
        img {
            width: 100%;
            height: 100%;
        }

        hr {
            margin: 40px 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: 400px 400px;
        grid-template-rows: 500px 500px 500px;
    }

    .local-griad-container {
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px 400px 400px 400px;
    }
}