@use 'reset';

@font-face {
    font-family: 'yangjin';
    src: url(../font/yangjin.otf);
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url(../font/GmarketSansBold.otf);
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url(../font/GmarketSansLight.otf);
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url(../font/GmarketSansMedium.otf);
}

$border-grey : #979797;

%textOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    margin: 0;
}

* {
    font-family: 'GmarketSansBold';
    box-sizing: border-box;
}

%mt-20-wd-1200 {
    margin: 20px auto;
    max-width: 1200px;
}

.header-container {
    @extend %mt-20-wd-1200;
    display: flex;
    font-size: 40px;

    div:nth-child(1) {
        flex-grow: 1;
    }

    div:nth-child(2) {
        flex-grow: 1;
    }
}

.header-bg {
    width: 100%;
    background: $border-grey;
}

.category-container {
    max-width: 1200px;
    margin: auto;

    ul {
        margin: 0;
        list-style: none;
        display: flex;
        padding: 0;
        gap: 70px;

        li {
            height: 30px;
            // border-bottom: 2px solid black;
            cursor: pointer;
        }
    }
}

.subCat-container {
    @extend %mt-20-wd-1200;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    div {
        border: 1px solid rgb(49, 49, 49);
        background: transparent;
        border-radius: 50px;
        padding: 7px;
        cursor: pointer;

        &:hover {
            background: rgb(244, 255, 240);
            border: 1px solid rgb(71, 139, 71);
        }

        p {
            margin: 5px 0 0 0;
            padding: 0 15px;
        }
    }

    .subCat-selected {
        background: rgb(244, 255, 240);
        border: 1px solid rgb(71, 139, 71);

    }
}

.subCat-line {
    @extend %mt-20-wd-1200;
    border-bottom: 1px solid $border-grey;

    hr {
        border: 1px solid $border-grey;
    }
}

.category-search-container {
    @extend %mt-20-wd-1200;
    margin: 40px auto;
    display: flex;

    select {
        padding: 15px;
        font-size: 15px;
        width: 200px;
        text-align: center;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid $border-grey;
    }

    div {
        position: relative;

        input {
            padding: 15px;
            font-size: 20px;
            margin-left: auto;
            width: 400px;
            outline: none;
            border-radius: 5px;
            border: 1px solid $border-grey;

            &:focus {
                // box-shadow: 0px 0px 5px #444
                border: 2px solid black;
            }

        }

        .search-icon {
            position: absolute;
            top: 20px;
            right: 15px;
            cursor: pointer;
        }
    }

}

.card-container {
    @extend %mt-20-wd-1200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 500px 500px;
    // grid-template-rows: repeat(2,500px) ;
    gap: 50px;


    .card-layout {
        border: 1px solid #d1d1d1;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #c9c8c8;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            transform: translateY(-25px);
        }

        .card-area {
            width: 100%;
            height: 50%;

            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            @mixin card-item($fs, $pt) {
                margin: 0px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: $pt;
                font-size: $fs;
            }

            .card-tag {
                @include card-item(25px, 20px);
                color: #5b86af
            }

            .card-title {
                @include card-item(25px, 10px);
                height: 100px
            }

            .card-addr {
                @include card-item(15px, 40px);
                font-family: 'GmarketSansLight';
            }
        }
    }

}

.none {
    display: none;
}

.card-btn {
    @extend %mt-20-wd-1200;
    text-align: center;

    button {
        padding: 20px;
        width: 160px;
        border-radius: 10px;
        border: 1px solid $border-grey;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        color: #8a8a8a;

        &:active {
            background-color: #c9c8c8
        }
    }
}

.no-item {
    @extend %mt-20-wd-1200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;

    p {
        font-size: 50px;
    }
}

.local-container {
    @extend %mt-20-wd-1200;

    p {
        font-size: 40px;
    }

    .local-griad-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-gap: 30px;

        div {
            border: 1px solid black;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
        }
    }

}


.footer-container {
    margin-top: 100px;
    width: 100%;
    background-color: #eee;
    height: 200px;

    .footer-top {
        padding-top: 50px;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: flex-end;
        gap: 20px;

        div {
            &:nth-child(1) {
                font-size: 30px;
            }

            ul {
                display: flex;
                margin: 0;
                gap: 10px;
                list-style: none;
                gap: 40px;

                li {
                    font-family: 'GmarketSansLight';
                }
            }
        }

    }

    .footer-bottom {
        max-width: 1200px;
        margin: auto;
        margin-top: 10px;

        p {
            font-family: 'GmarketSansLight';
        }

    }
}

.detail-container {
    @extend %mt-20-wd-1200;

    .detail-content {
        margin: 40px 0;
        text-align: center;

        p {
            font-size: 50px;
        }

        hr {
            border: 1px solid black;
        }
    }

    .detail-tag {
        display: flex;

        div {
            background-color: rgb(149, 189, 138);
            border-radius: 25px;
            padding: 0px 15px;

            p {
                color: rgb(255, 255, 255);
            }
        }
    }

    .detail-title {
        p {
            margin: 20px 0 0 0;
            font-size: 40px;
        }

        p:nth-child(2) {
            margin: 20px 0 0 0;
            font-size: 20px;
            // font-family: 'GmarketSansMedium';
            font-family: 'GmarketSansLight';
        }

        hr {
            margin: 40px 0;
        }
    }

    .detail-img {
        width: 100%;
        height: 700px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .detail-desc {
        letter-spacing: 2.5px;
        border-radius: 15px;
        margin: 70px 0;

        p {
            font-family: 'GmarketSansLight';
            line-height: 45px;
            font-size: 25px;
            margin: 0;
        }
    }

    .detail-info {
        .botton-info-title {
            text-align: center;
            margin: 200px 0 50px 0;
            display: flex;
            justify-content: center;

            div {
                width: 300px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;

                p {
                    margin: 30px 0;
                    font-size: 50px;
                    font-family: 'GmarketSansLight';
                }
            }
        }

        .botton-info-area {
            background: #f7f6f6;
            border-radius: 20px;
            padding: 20px;

            // gap: 10%;
            .botton-info-flex {
                display: flex;
                flex-direction: row;
                text-align: center;
                margin-bottom: 10px;

                %flex-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                }

                .botton-info-area-tag {
                    width: 27%;
                    background: #c29797;
                    color: white;
                    @extend %flex-center;

                    p {
                        margin: 0;
                        padding: 10px 10px;
                        font-size: 30px;
                    }

                }

                .botton-info-area-space {
                    width: 2%;
                }

                .botton-info-area-content {
                    background: white;
                    width: 71%;
                    word-break: break-all;
                    @extend %flex-center;

                    p {
                        margin: 0;
                        padding: 10px 10px;
                        font-family: 'GmarketSansLight';
                        font-size: 30px;
                    }
                }
            }

        }
    }

    .detail-map {
        margin: 100px 0;
        border-radius: 50px;
    }
}

.loc-container {
    @extend %mt-20-wd-1200;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    >div {
        border: 1px solid rgb(221, 221, 221);
        height: 800px;
    }

    .loc-list {
        width: 45%; //지도크기
        display: flex;
        flex-direction: column;

        >div {
            // flex: 0 0 150px;
        }

        .loc-list-search {
            border: 1px solid rgb(192, 185, 185);
            height: 15%; //자료-검색
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            gap: 10px;

            >div {
                position: relative;

                input {
                    width: 400px;
                    height: 40px;
                }

                .icon {
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    cursor: pointer;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    gap: 20px;

                    li {
                        // border: 1px solid red;
                        font-family: 'GmarketSansMedium';
                        cursor: pointer;
                        padding: 10px;
                    }
                }
            }
        }

        .loc-list-result {
            height: 85%; //자료-결과
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            >div {
                border-bottom: 1px solid rgb(216, 216, 216);
                // flex: 0 0 200px;
                display: flex;
                height: 150px;

                &:hover {
                    background: #f5f5f5;
                    cursor: pointer;
                }

                >div {
                    width: 100%;
                }

                .list-img {
                    width: 50%; //사진
                    padding: 10px;

                    >div {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                }

                .list-item {
                    width: 50%; //목록
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        line-height: 25px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        li:nth-child(1) {
                            color: black;
                            font-size: 20px;
                            padding-bottom: 10px;
                        }

                        li {
                            color: #5e5d5d;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-family: 'GmarketSansMedium';

                            >span {
                                position: relative;
                                top: 5px;
                            }

                        }
                    }
                }
            }
        }
    }

    .loc-map {
        width: 55%; //지도크기
    }
}

.overlay-container {
    background: white;
    position: absolute;
    border: 1px solid rgb(226, 224, 224);
    bottom: 30px;
    left: -80px;
    width: 300px;
    height: 120px;


    .overlay-title {
        height: 30%;
        background: #60b6f0;
        text-align: center;
        color: rgb(247, 247, 247);
        display: flex;
        align-items: center;

        >p {
            margin: 0;
            padding-left: 7px;
            @extend %textOverflow;
        }
        p:nth-child(1) {
            width: 80%;
            
        }
        p:nth-child(2) {
            width: 20%;
            font-family: 'GmarketSansMedium';
            text-align: center;
            
            &:hover {
                cursor: pointer;
            }
        }

    }

    .overlay-content {
        height: 70%;
        display: flex;


        .overlay-content-left {
            width: 40%;
            padding: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .overlay-content-right {
            width: 60%;

            ul {
                list-style: none;
                padding: 0 0 0 5px;
                line-height: 25px;
                li {
                    font-size: 11px;
                    font-family: 'GmarketSansMedium';
                    @extend %textOverflow;
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: 400px 400px;
        grid-template-rows: 500px 500px 500px;
    }

    .local-griad-container {
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px 400px 400px 400px;
    }
}